cat > .gitignore <<'EOF'
# training outputs
checkpoints/
logs/
results/

# MACE/model outputs
*checkpoints/*
*.model
*.pt
*.pth

# large generated data
*.npy
*.xyz
*.extxyz
predicted.xyz

# plots
*.png
*.jpg
*.jpeg

# thermo/output files
*_thermo.txt
*_thermo.npy

#folders
*ab-initio-thermodynamics-of-water/*
*aseMolec/*
*mace/*
# Python/env
__pycache__/
*.pyc
*orca/*
env/
venv/
.venv/
EOF
expand/